/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  font-family: inter;
  min-height: 100vh;

}
html {
  scroll-behavior: smooth;
}
/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 5%;
  z-index: 1000;

}
.logo {
  color: #28809A;
}
.nav-links{
  display: flex;

}
.nav-icons{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container{
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
  transition: width 0.4s ease-in-out;
  position: relative;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  

}
.search-input {
  width: 0;
  opacity: 0;
  padding: 8px;
  border: none;
  outline:none;
  transition: width 0.4s ease-in-out, opacity 0.3s;
  font-size: 16px;
  border-radius: 20px;
}
.search-container.active .search-input{
  width: 200px;
  opacity: 1;
  margin-left: 5px;

}
.search-icon {
  background: none;
  border: none;
  
}
.suggestions {
  position: absolute;
  Top: 100%;
  border: 1px solid #ddd;
  width: 150px;
  max-height: 150px;
  overflow-y: auto;
  display: block;


}
.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

li {
  list-style: none;
  margin: 1rem;
}
a {
  text-decoration: none;
  color: #252525;
  position: relative;
  transition: color 0.3s ease-in-out;

}
a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  background: #28809A;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
}

a:hover::after{
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(1);
   
}
i {
  margin: 1rem;
}

/* Home styling */
#Home {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.left-art{
  margin-left: 30px;
}
h1 {
  color: #28809A;
  
}
#order{
  padding: 7px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  
}
#order:hover{
  background-color: #28809A;
}

/* Dishes styling */
/* img {
  width: 100px;
  height: 250px;
  
} */
 h2 {
  margin: 20px 80px;
  color: #28809A;
  font-family: roboto;
 }
 #price-special {
  font-family: inter;
  margin-top: 5px;
  font-weight: bold;

 }

#Dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  
}

.indi-dish {
  width: 600px;
  height: 400px;
  border: 1px solid #000;
  border-radius: 45px;
  position: relative;
 
}
.image{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image img {
height: 300px;
width: 300px;
object-fit: contain;
  
}
.dish-name{
  position: absolute;
  bottom: 9%;
  left: 5%;
  font-weight: bold;
 font-family: roboto;
}
.price {
  position: absolute;
  bottom: 4%;
  left: 5%
}
.indi-dish i {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
}
.add-food {
  width: 400px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 45px;
  position: relative;
  
}
#total-price{
  position: absolute;
  top: 70%;
  left:5%;
}
.add-food h2{
  font-family: roboto;
  font-size: 100px;
  position: absolute;
  top: 0%;
  left:0%;
  
  font-size: 15px;
}
.add-new{
  border: none;
  background-color: #f0f0f0;
  position: absolute;
  top: 24px;
  left:75%;
}
.new-dish{
  border-radius: 9px;
  padding: 5px;
  position: absolute;
  top: 79%;
  left:5%;
  border: none;
}
.new-dish:hover{
  background-color: #28809A;
}

